<!doctype html>
<html>
	<head>
	    <meta charset="UTF-8" />
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <title>{% block title %}M&eacute;tropopote Paris{% endblock %}</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
		<link rel="stylesheet" href="/theme/font-awesome.css" />
		<!--link rel="stylesheet" href="theme/custom.min.css" /-->
		<link rel="stylesheet" href="/theme/wireframe-theme.css?noise=1" />
		<link rel="stylesheet" href="/theme/main.css" />
		<link href='http://fonts.googleapis.com/css?family=Concert+One' rel='stylesheet' type='text/css' />
		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
	</head>
	<body>
	
		{% block body %}{% endblock %}
	
	</body>
</html>
