{% extends 'layout.html' %}

{% block body %}
<div id="metrolines" data-role="page" data-theme="a">

	<div data-role="header">
		<a href="/home" data-icon="arrow-l" data-rel="back">Retour</a>
		<h1>M&eacute;tro</h1>
	</div>

	<div data-role="content">
				
		<ul data-role="listview">
			<li><a href="/popotes">Ligne <span class="metroline">1</span><span class="ui-li-count">2</span></a></li>
			<li><a href="/popotes">Ligne <span class="metroline">2</span></a></li>
			<li><a href="/popotes">Ligne <span class="metroline">3</span><span class="ui-li-count">5</span></a></li>
			<li><a href="/popotes">Ligne <span class="metroline">3 bis</span><span class="ui-li-count">11</span></a></li>
			<li><a href="/popotes">Ligne <span class="metroline">4</span><span class="ui-li-count">2</span></a></li>
			<li><a href="/popotes">Ligne <span class="metroline">5</span><span class="ui-li-count">9</span></a></li>
			<li><a href="/popotes">Ligne <span class="metroline">6</span></a></li>
			<li><a href="/popotes">Ligne <span class="metroline">7</span></a></li>
			<li><a href="/popotes">Ligne <span class="metroline">7 bis</span><span class="ui-li-count">2</span></a></li>
			<li><a href="/popotes">Ligne <span class="metroline">8</span></a></li>
			<li><a href="/popotes">Ligne <span class="metroline">9</span></a></li>
			<li><a href="/popotes">Ligne <span class="metroline">10</span></a></li>
			<li><a href="/popotes">Ligne <span class="metroline">11</span></a></li>
			<li><a href="/popotes">Ligne <span class="metroline">12</span><span class="ui-li-count">8</span></a></li>
			<li><a href="/popotes">Ligne <span class="metroline">13</span></a></li>
			<li><a href="/popotes">Ligne <span class="metroline">14</span></a></li>
		</ul>

	</div>
</div>
{% endblock %}